.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 3px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 4;
    padding: 30px;
    text-align: center;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.overlay {
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transition: all 0.3s;
}

#info:checked~.overlay,
#settings:checked~.overlay,
.interview.show~.overlay {
    display: block;
    opacity: 1;
}

.interview.show~.overlay {
    z-index: 5;
}

#info {
    display: none;
}

#settings {
    display: none;
}

label[for="info"]:hover,
label[for="settings"]:hover {
    cursor: pointer;
    opacity: 0.5;
}

#info:checked~.info,
#settings:checked~.settings,
.interview.show {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
}

.cancel-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.cancel-icon:hover {
    opacity: 0.5;
}

.interview .icon {
    height: 100px;
    width: 100px;
    position: relative;
    background: linear-gradient(136deg, white 0%, firebrick 100%);
    border-radius: 50%;
}

.interview .icon .quiz-icon {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interview {
    font-size: 14px;
    z-index: 6;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.test {
    z-index: 7;
}
.test.show {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
}
.test.show~.overlay {
    display: block;
    opacity: 1;
    z-index: 5;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.info {
    font-size: 14px;
    text-align: left;
    align-items: left;
}

.popup header {
    font-size: 20px;
    margin-bottom: 10px;
}

.interview header {
    margin-top: 20px;
}

.popup p {
    line-height: 20px;
}

.custom-button {
    display: block;
    height: 47px;
    line-height: 47px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: linear-gradient(136deg, rgba(178, 34, 34, 0.1) 0%, firebrick 100%);
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.custom-button:hover,
.custom-button:active,
.custom-button:visited {
    background: linear-gradient(136deg, rgba(178, 34, 34, 0.4) 0%, firebrick 100%);
    color: white;
    text-decoration: none;
}

.setting {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.setting label:not(.switch) {
    margin-right: 20px;
    text-align: right;
    width: 48%;
}

select#lang {
    width: fit-content;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #08f;
}

input:focus+.slider {
    box-shadow: 0 0 1px #08f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Carousel styles */
.carouselContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.carousel {
    width: 180vw;
    transition: all 2s;
}

.slide {
    width: 30vw;
    padding: 30px;
    float: left;
    box-sizing: border-box;
}

#slider1:checked~.carouselContent .carousel {
    margin-left: 0;
}

#slider2:checked~.carouselContent .carousel {
    margin-left: -30vw;
}

#slider3:checked~.carouselContent .carousel {
    margin-left: -60vw;
}

#slider4:checked~.carouselContent .carousel {
    margin-left: -90vw;
}

#slider5:checked~.carouselContent .carousel {
    margin-left: -120vw;
}

#slider6:checked~.carouselContent .carousel {
    margin-left: -150vw;
}

#slider1:checked~label[for="slider2"].right::after,
#slider2:checked~label[for="slider3"].right::after,
#slider3:checked~label[for="slider4"].right::after,
#slider4:checked~label[for="slider5"].right::after,
#slider5:checked~label[for="slider6"].right::after {
    content: '﹥';
    position: fixed;
    top: 45%;
    right: 10px;
    font-size: 32px;
    cursor: pointer;
}

#slider6:checked~label[for="slider5"].left::before,
#slider5:checked~label[for="slider4"].left::before,
#slider4:checked~label[for="slider3"].left::before,
#slider3:checked~label[for="slider2"].left::before,
#slider2:checked~label[for="slider1"].left::before {
    content: '﹤';
    position: fixed;
    top: 45%;
    left: 10px;
    font-size: 32px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

/* Carousel navigation styles */
.carouselNavigation {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center;
}

.navigationButton {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

#slider1:checked~.carouselContent .carouselNavigation label[for="slider1"].navigationButton,
#slider2:checked~.carouselContent .carouselNavigation label[for="slider2"].navigationButton,
#slider3:checked~.carouselContent .carouselNavigation label[for="slider3"].navigationButton,
#slider4:checked~.carouselContent .carouselNavigation label[for="slider4"].navigationButton,
#slider5:checked~.carouselContent .carouselNavigation label[for="slider5"].navigationButton,
#slider6:checked~.carouselContent .carouselNavigation label[for="slider6"].navigationButton {
    background-color: #08f;
}

@media (max-width: 1024px) {
    .popup {
        width: 60%;
        padding: 30px;
    }

    .carousel {
        width: 360vw;
    }

    .slide {
        width: 60vw;
        padding: 30px;
    }

    #slider2:checked~.carouselContent .carousel {
        margin-left: -60vw;
    }

    #slider3:checked~.carouselContent .carousel {
        margin-left: -120vw;
    }

    #slider4:checked~.carouselContent .carousel {
        margin-left: -180vw;
    }

    #slider5:checked~.carouselContent .carousel {
        margin-left: -240vw;
    }

    #slider6:checked~.carouselContent .carousel {
        margin-left: -300vw;
    }

    .popup header {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .info,
    .interview {
        font-size: 13px;
    }

    .popup header {
        margin-bottom: 7px;
    }

    .popup p {
        line-height: 17px;
    }
}

@media (max-width: 480px) {
    .popup {
        width: 80%;
        padding: 20px;
    }

    .info {
        height: 75%;
    }

    .carousel {
        width: 480vw;
    }

    .slide {
        width: 80vw;
        padding: 20px;
    }

    #slider2:checked~.carouselContent .carousel {
        margin-left: -80vw;
    }

    #slider3:checked~.carouselContent .carousel {
        margin-left: -160vw;
    }

    #slider4:checked~.carouselContent .carousel {
        margin-left: -240vw;
    }

    #slider5:checked~.carouselContent .carousel {
        margin-left: -320vw;
    }

    #slider6:checked~.carouselContent .carousel {
        margin-left: -400vw;
    }

    .info,
    .interview {
        font-size: 14px;
    }

    .popup header {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .popup p {
        line-height: 17px;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    .popup {
        max-height: 75%;
        width: 75%;
        padding: 15px;
        font-size: 13px;
    }

    .carousel {
        width: 450vw;
    }

    .slide {
        width: 75vw;
        padding: 15px;
    }

    #slider2:checked~.carouselContent .carousel {
        margin-left: -75vw;
    }

    #slider3:checked~.carouselContent .carousel {
        margin-left: -150vw;
    }

    #slider4:checked~.carouselContent .carousel {
        margin-left: -225vw;
    }

    #slider5:checked~.carouselContent .carousel {
        margin-left: -300vw;
    }

    #slider6:checked~.carouselContent .carousel {
        margin-left: -375vw;
    }

    .interview .icon {
        height: 60px;
        width: 60px;
    }

    .interview .icon .quiz-icon {
        width: 40px;
        height: 40px;
    }

    .interview header {
        margin-top: 10px;
    }
}
