@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 60em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: firebrick;
  color: floralwhite;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

a {
  color: #08f;
  text-decoration: none;
  border-bottom: 1px solid #08f;
  font-style: italic;
}

kbd {
  font-family: 'Consolas', monospace;
  padding: 0 0.2em;
  background-color: #eee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

em {
  font-style: normal;
  color: #000;
  background-color: #fff;
  padding: 0 0.2em;
  border-radius: 4px;
}

textarea {
  box-sizing: border-box;
  margin: 0 auto 0.5em;
  padding: 0.2em 0.5em;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  width: 100%;
  height: 10em;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  word-spacing: 0;
  color: #555;
  overflow: auto;
  white-space: pre;
}

textarea:focus {
  border-color: #08f;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 128, 255, 0.4);
  outline: none;
  color: #004b7e;
}

textarea::selection {
  background-color: #08f;
  color: aliceblue;
}

#tab {
  margin-bottom: 1em;
  overflow: hidden;
  padding-left: 33px;
}

footer {
  clear: both;
  font-size: 80%;
  height: 2.7em;
  margin-top: auto;
  text-align: right;
}

footer > em {
  font-size: large;
}

img {
  width: 33px;
  height: 150px;
}

figure {
  display: inline-block;
  margin: 15px 2.5px;
}

figcaption {
  text-align: center;
}

h4 {
  font-weight: normal;
  margin: 0;
}

header > h4 {
  font-size: 8.5px;
  color: #888;
}

#tabs > h4 {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  color: #000;
}

#tabs > h3 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#tabs > h2 {
  font-family: 'Bad Script', cursive;
  margin: 0;
  font-size: 32px;
  text-align: center;
  color: #000;
}
