#menuToggle {
    opacity: 0;
}

#menuToggle:checked+.menuBtn {
    position: fixed;
}

#menuToggle:checked+.menuBtn>span {
    transform: rotate(45deg);
}

#menuToggle:checked+.menuBtn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menuToggle:checked+.menuBtn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menuToggle:checked~.sidebar {
    width: 25vw !important;
}

#menuToggle:checked~.sidebar * {
    opacity: 1;
    pointer-events: auto;
}

.menuBtn {
    position: absolute;
    top: 40px;
    right: 10%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menuBtn>span,
.menuBtn>span::before,
.menuBtn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.3s;
}

.menuBtn>span::before {
    content: '';
    top: -8px;
}

.menuBtn>span::after {
    content: '';
    top: 8px;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 9%;
    width: 0px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: -18px -15px 15px -15px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar * {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.menu {
    margin-top: auto;
    margin-bottom: 100px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #888;
    border: 1px solid #888;
    border-radius: 20px;
    margin: 20px;
    font-size: 12px;
    transition-duration: 0.3s;
}

.menuItem:hover {
    cursor: pointer;
    opacity: 0.5;
}

.menuItem img {
    margin-right: 5px;
}

#profilePhoto {
    border-radius: 50%;
    outline: solid 3.5px firebrick;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

#profilePhoto[src='./img/avatar.svg'] {
    outline-color: #888;
    outline-offset: -4px;
}

#tglogout {
    width: 80%;
    font-size: 12px;
    text-align: center;
}

#btnUnsubscribe {
    border-radius: 50px;
    white-space: normal;
    font-size: 14px;
    display: block;
    padding: 9px 24px;
}

@media (max-width: 1024px) {
    #menuToggle:checked~.sidebar {
        width: 30vw !important;
    }
}

@media (max-width: 768px) {
    #menuToggle:checked~.sidebar {
        width: 50vw !important;
    }
}

@media (max-width: 480px) {
    #menuToggle:checked~.sidebar {
        width: 70vw !important;
    }
}
